@* @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@* @{
} *@
@model GestionCinema.Models.Acteurs

@{
    ViewBag.Title = "Supprimer Acteurs";
}

<h2 style="color:red;">est vous sur de vouloir supprimer l'acteur : <strong style="color:black;">@Model.Nom</strong></h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="col-md-8">
        <form asp-action="Delete">
            <fieldset>
                <legend>Acteurs</legend>

                <div class="form-group editor-label">
                    @Html.LabelFor(model => model.Nom)
                    @* <label>Nom</label> *@
                </div>
                <div class=" form-group editor-field">
                    <input type="text" placeholder="Nom" name="Nom" class="form-control" value="@Model.Nom" required />
                    @* @Html.EditorFor(model => model.Nom) *@
                    <p style="color:red;">
                        @Html.ValidationMessageFor(model => model.Nom)
                    </p>

                </div>

                <div class="form-group editor-label">
                    @Html.LabelFor(model => model.Biographie)
                </div>
                <div class=" form-group editor-field">
                    <input type="text" placeholder="Biographie" name="Biographie" class="form-control" value="@Model.Biographie" required />

                    @* @Html.EditorFor(model => model.Biographie) *@
                    <p style="color:red;">
                        @Html.ValidationMessageFor(model => model.Biographie)
                    </p>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.photoProfil)
                </div>
                <div class=" form-group editor-field">
                    <input type="text" placeholder="photoProfil" name="photoProfil" class="form-control" value="@Model.photoProfil" required />

                    @* @Html.EditorFor(model => model.photoProfil) *@
                    <p style="color:red;">
                        @Html.ValidationMessageFor(model => model.photoProfil)
                    </p>
                </div>
                <p>

                    <input type="submit" value="Delete" class="btn btn-danger" asp-controller="Acteurs" />
                    <a class="btn btn-success" asp-action="Index" asp-controller="Acteurs">Back To list</a> 

                </p>
            </fieldset>


        </form>
    </div>
}

@* <div class="btn btn-success ">
    @Html.ActionLink("Back to List", "Index")
</div> *@

@* @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} *@
<!--Ajouter la previsualisation d'une photo de profile avec JQUERY-->
@section Scripts
{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('photoProfilepreview');
            output.src = $("#photoProfile").val();
        })
        $("#photoProfile").on("change", function () {
            var output = document.getElementById('photoProfilpreview');
            output.src = $(this).val();
        })
    </script>
    <!--FIN-->
}

